* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial;
  color: #312e81;
  background: #fff7ed;
}
main {
  max-width: 1000px;
  margin: auto;
  padding: 24px;
}
header {
  display: flex;
  gap: 18px;
  align-items: center;
  flex-wrap: wrap;
}
header b {
  font-size: 24px;
  color: #881337;
  margin-right: auto;
}
a {
  color: #9f1239;
  text-decoration: none;
}
section {
  margin-top: 48px;
  padding: 30px;
  border-radius: 18px;
  background: #fff;
}
h1 {
  font-size: 48px;
  color: #881337;
  margin: 8px 0;
}
.button,
button {
  display: inline-block;
  border: 0;
  border-radius: 9px;
  padding: 13px 17px;
  background: #be123c;
  color: #fff;
  font-weight: bold;
}
button:disabled {
  opacity: 0.5;
}
@media (max-width: 600px) {
  h1 {
    font-size: 36px;
  }
}
